/* CSS Reset */
html,
body {
  margin: 0;
  padding: 0;
  /* Base style */
  background-color: #212529;                /* Bootstrap "bg-dark" */
  text-align: center;
  font-weight: 400;                           /* Font Regular 400 */
  font-family: "Open Sans", sans-serif;
  color: #f8f9fa;                           /* Bootstrap "text-light" */
  scroll-behavior: smooth;
}

.d-contents {
  display: contents;
}

.bg-xs-info {
  background-color: #0dcaf0;                /* Bootstrap "bg-info" */
}

.navbar-brand-img-resize {
  width: 35px;
}

@media (992px <= width) {
  .position-lg-fixed {
    position: fixed;
  }

  .bg-lg-transparent {
    background-color: transparent;
  }
}
